#ui-camp-gallery {
  background-color: lightblue;
}

/* Uncomment below if images are way too big.
Selects all image tags and makes them 500px;
 */
/*img {*/
/*  width: 500px;*/
/*}*/

.gallery-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}

.gallery-item {
  width: 100%;
  height: auto;
  max-width: 200px;
}
